.wrapperButtonSearch{    
    display: inline-block;
    padding: 8px 24px;
    font-size:  0;
}

.buttonSearch{
    background: none;
    border: none;
    font-size:  0;
}

.buttonSearch:hover{
    cursor: pointer;
}

svg{
    fill: #fff;
    font-size: 16px;
}