.contentSearch{
    margin: 0 10px;
    padding: 70px 0;
}

.resultSearch{
    margin-left: 30px ;
    font-size: 20px;
}

.resultSearchNumber{
    margin: 20px 0 0 30px ;
    padding-bottom: 5px;
    font-size: 16px;
    color:  #232a34; 
    border-bottom: 2px solid #0d7e67; 
    display: inline-block;
}

